/.DS_Store
chencrafts.egg-info/
chencrafts/version.py

.vscode/settings.json

chencrafts/__pycache__/
chencrafts/toolbox/__pycache__/
chencrafts/tests/__pycache__/
chencrafts/bsqubits/__pycache__/
chencrafts/cqed/__pycache__/

**.ipynb